.hero-container img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  filter: brightness(35%);
}

.hero-container{
  height: auto;
}

.hero-container .slogen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #c4c4c4;
  width: 100%;
  height: auto;
}

.slogen p{
  text-align: center;
  font-size: 35px;
}

@media screen and (min-width: 960px) {
  .hero-container h1 {
    /* width: 30%; */
    font-size: 42px;
    color: white;
  }
}
