.hero-container {
  height: 100vh;
  background: url("../assets/hero_desktop.jpg") center center / 100% 100%
    border-box no-repeat;
}

.hero-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #c4c4c4;
  line-height: 41px;
  width: 80%;
  height: auto;
}

@media screen and (min-width: 960px) {
  .hero-container h1 {
    width: 30%;
    font-size: 42px;
    line-height: 60px;
    color: white;
  }
}
