.project-container {
  width: 100%;
  background-color: #eeeeee;
  background-size: cover;
}

.project-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

@media screen and (min-width: 960px) {
  .project-content {
    display: flex;
    width: 60%;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
  }
  .project-container h2 {
    width: 57%;
    font-size: 42px;
    margin: 0 auto;
  }
  .project-container ul {
    justify-content: left;
  }
}
