  .tech-container {
    width: 100%;
    background-color: white;
  }

  .tech-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-inline-start: 23px;
  }

  .item-wrapper {
      width: 60px;
      margin: 16px 8px;
  }
  .item-wrapper li {
    list-style: none;
    color: #C4C4C4 ;
}

.item-wrapper li span {
    margin-bottom: 8px;
}

.item-wrapper li label {
    font-size: 12px;
}
@media screen and (min-width: 550px){
  .tech-content {
    display: flex;
    width: 40%;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
.tech-container h2 {
  width: 38%;
  font-size: 42px;
  margin: 0 auto;
}
.tech-container p {
  width: 55%;

}

}