@import './components/Navbar.css';
@import './components/HeroSection.css';
@import './components/AboutSection.css';

.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.content-container {
  display: flex;
  flex-direction: column;
}





.contact-container {
  width: 100%;
  height: 90vh;
  background-color: red;
  background-size: cover;
}

.project-container {
  width: 100%;
  height: 90vh;
  background-color: gold;
  background-size: cover;
}

.tech-container {
  width: 100%;
  height: 90vh;
  background-color: khaki;
  background-size: cover;
}
